*{box-sizing: border-box;}
body{
	background-color: #aad4cf;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1;
}
/* sets container width to keep elements in the center */
.container{
	width: 1024px;
	height: fit-content;
	margin: 0 auto;
	background-color: #d4e9e7;	
}
h1{
	position: absolute;
	color: white;
	font-size: 56px;
	text-align: center;
    width: 100%;
    top: 50%;
}
.banner{
	position: relative;
	padding: 0;
	margin: 0 auto;
}
#menu li{
	display: inline-block;
	margin: 0 80px 25px 80px;
	border-right: 2px solid black ;
    font-size: 20px;
}

#menu li a{
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	font-weight: bold;
	display: block;
	
	padding-left:  20px;
	padding-right: 80px;
}

#menu li:last-child {
	border-right: none;
}

h2{
    font-size: 25px;
    padding-left: 10px;
    font-weight: bold;
}

#star {
    width: 250px;
    height: 250px;
	padding-left: 10px;
}

.clearfix::after {
	content:"";
	display:block;
	clear: both;
}

p{
	padding-left: 10px;
}

h3{
	font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
	margin-top: 25px;
}

ul{
	padding-left: 25px;
	list-style-type: disc;
}